#about {
    background-color: #F5F5F5;
    margin-top: 100px;
    
    @media screen and (min-width: 768px) {
        margin-top: 0px;
    };
}

.about-title {
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main);
    
    @media screen and (min-width: 768px) {
        font-size: 40px;
    }

    @media screen and (min-width: 1278px) {
        font-weight: 800;
        font-size: 52px;
    }
}

.about {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    color: var(--text-main);
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 1s ease-out, transform 1s ease-out;

    @media screen and (min-width: 768px) {
        font-size: 20px;
    }

    @media screen and (min-width: 1278px) {
        font-size: 22px;
    }
}

.about p {
    margin-bottom: 15px;
}
