.achievements-title {
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    color: var(--main);
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: 40px;
    }

    @media screen and (min-width: 1278px) {
        font-weight: 800;
        font-size: 52px;
    }
}

.achievements-item {
    
    margin: 20px 0;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // font-family: 'Montserrat', sans-serif;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;

    @media screen and (min-width: 768px) {
        font-size: 20px;
    }

    @media screen and (min-width: 1278px) {
        font-size: 22px;
    }
}

.achievements-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.achievements-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align:justify;
    color: var(--text-main);
    
}

.pre-strengths {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--text-main);
    min-width: 200px;
    max-width: 200px;
    text-align: left;
    margin-right: 10px;
    flex-shrink: 0;
    // text-transform: uppercase;
}
